@charset "utf-8";

body.header,footer,section,article,div,p,h1,h2,h3,ul,li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    border: 0;
}

.wrap {
    width: 1000px;
    height: 650px;
    margin: 0 auto;
    display: flex;
}

header {
    width: 200px;
    height: 650px;
    background-color: #ededed;
    padding-top: 30px;
    box-sizing: border-box;
}

header>h1 {
    margin-bottom: 40px;
}

header>.gnb {
    width: 180px;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
}

header>.gnb>ul>li>a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    transition: all 0.3s;
}

header>.gnb>ul>li>.sub {
    height: 90px;
    display: none;
}

header>.gnb>ul>li>.sub>li>a {
    display: block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #ccc;
    color: #333;
    font-size: 14px;
    transition: all 0.3s;
}

header>.gnb>ul>li:hover>a {
    background-color: #039;
    color: #fc0;
}

header>.gnb>ul>li>.sub>li>a:hover {
    background-color: #999;
    color: #333;
}

.container {
    width: 800px;
    height: 650px;
}

.container>.slide_container {
    width: 800px;
    height: 350px;
}

.container>.slide_container>ul {
    width: 800px;
    height: 350px;
    position: relative;
}

.container>.slide_container>ul>li {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 350px;
    display: none;
}

.container>.slide_container>ul>li:first-child {
    display: block;
}

.info_wrap {
    height: 200px;
    display: flex;
}

.info_wrap>div {
    width: 400px;
    height: 200px;
    overflow: hidden;
}

.info_wrap>.notice {
    position: relative;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
}

.info_wrap>.notice>article {
    width: 50%;
}

.info_wrap>.notice>article>h2 {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

.info_wrap>.notice>article>h2>a {
    display: block;
    height: 30px;
    background-color: #ccc;
    color: #333;
    text-align: center;
}

.info_wrap>.notice>article>h2>a.on {
    background-color: #f64;
    color: #fff;
}

.info_wrap>.notice>article>.content {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 160px;
    width: 270px;
    box-sizing: border-box;
    padding: 6px 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info_wrap>.notice>article>.content img {
    height: 140px;
    width: 78px;
    object-fit: cover;
}

.info_wrap>.notice>article:last-child>.content > ul {
    display: flex;
    gap: 8px;
}

.info_wrap>.notice>article:last-child>.content {
    display: none;
}

.info_wrap>.notice>article:first-child>.content>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-indent: 0.3em;
}

.info_wrap>.notice>article:first-child>.content>ul a {
    color: #333;
    font-size: 9px;
    font-weight: bold;
}

.info_wrap>.notice>article:first-child>.content>ul a:hover {
    text-decoration: underline;
    color: #f63;
}

.info_wrap>.go {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

.info_wrap>.go>a {
    display: block;
    text-align: center;
    line-height: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 270px;
    height: 160px;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454545;
    color: #fff;
    font-weight: bold;
}

.info_wrap>.banner {
    padding: 10px 0;
    box-sizing: border-box;
}

footer {
    width: 800px;
    height: 100px;
    display: flex;
    background-color: #999;
}

footer>.footer_logo {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>.footer_logo>a>img {
    width: 80px;
    height: auto;
}

footer>.footer_content {
    width: 700px;
    height: 100px;
    padding-right: 20px;
    box-sizing: border-box;
    text-align: right;
}

footer>.footer_content>.footer_menu {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
}

footer>.footer_content>.footer_menu>li {
    padding-left: 10px;
    border-left: 1px solid #ccc;
    margin-left: 10px;
}

footer>.footer_content>.footer_menu>li a {
    color: #333;
}

footer>.footer_content>.footer_menu>li:first-child {
    padding-left: 0;
    border: 0;
    margin-left: 0;
}

footer>.footer_content>.copy {
    line-height: 50px;
    height: 50px;
}

.popup {
    width: 500px;
    height: 300px;
    background-color: #fff;
    border: 2px solid #039;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    display: none;
}

.popup>h3 {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #039;
}

.popup>p {
    line-height: 1.8em;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #f63;
}